%p
.board1= "[#{settings.game.board[0]}, #{settings.game.board[1]}, #{settings.game.board[2]}]"

.board2= "[#{settings.game.board[3]}, #{settings.game.board[4]}, #{settings.game.board[5]}]"

.board3= "[#{settings.game.board[6]}, #{settings.game.board[7]}, #{settings.game.board[8]}]"

%p
	%form{:action => "/computer", :method => "post"}
		%input{:type => "text", :name => "message", :placeholder => "Type A Number Here"}
		%input{:type => "submit", :id => "pick", :value => "Click to Pick"}
	%a{:href => "/", :name => "Click to Play Again", :id => "play_again", :style => "display:none"}
		Click to Play Again

%p
	- case settings.game.check_game
	- when 'player'
		"PLAYER WON!"
		:javascript
			disableButton();
			resetLink();
	- when 'computer'
		"COMPUTER WON!"
		:javascript
			disableButton();
			resetLink();
	- when 'draw'
		"IT'S A DRAW!"
		:javascript
			disableButton();
			resetLink();